fit:
  model:
    backbone:
      class_path: src.model.GEAR
      init_args:
        max_len: 50
        d_model: 32
        n_head: 2
        n_b: 4
        dropout: 0.2
        n_layer: 4
        num_items: 99037
        num_users: 147894
    alpha: 0.1

  data:
    dataset_code: 'retail'
    target_behavior: 'buy'
    multi_behavior: True
    min_uc: 3
    num_items: 99037
    num_users: 147894
    max_len: 50
    num_workers: 4
    val_negative_sampler_code: random
    val_negative_sample_size: 99
    train_batch_size: 128
    val_batch_size: 128
    predict_only_target: False

  trainer:
    default_root_dir: logs/retail/full
    callbacks:
      - class_path: pytorch_lightning.callbacks.EarlyStopping
        init_args:
          monitor: 'Val:NDCG@10'
          patience: 30
          mode: max  
    devices: [0]
    accelerator: gpu
    accumulate_grad_batches: 1
  seed_everything: 42
    
  optimizer:
    class_path: torch.optim.Adam
    init_args:
      lr: 0.001
      weight_decay: 0.000001
